#placeholder-text {
  height: 70vh;
  user-select: none;
  transition: all 0.5s ease;
  perspective: 1000px;
}

.placeholder-text-inner {
  transform-style: preserve-3d;
  position: relative;
  transition: all 1s ease-in-out;
  width: 640px;
  height: 120px;
}

.front, .back {
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  text-align: center;
}
.back {
  transform: rotateY(180deg);
}

#placeholder-text:hover .placeholder-text-inner {
  transform: rotateY(180deg);
}

.separator {
  border-left: 1px solid gray;
}

#annotation-canvas {
  overflow: hidden;
  border-bottom:1px solid gray;
}


.docs {
  max-width: 740px;
  padding: 16px;
  margin: auto;
}
.docs kbd {
  border: 1px solid var(--bulma-text);
  padding: 2px 4px;
  border-radius: 4px;
}


/* Footer links */
.links {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  position: relative;
  width: 100%;
}

.links a {
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  font-size: 12px;
  width: 100%;
  flex-basis: 50%;
  transition: all 0.5s ease;
}

.links a:hover {
  background-color: #fff;
  color: #000;
}