#placeholder-text {
  height: 70vh;
  user-select: none;
  transition: all 0.5s ease;
  perspective: 1000px;
}

.placeholder-text-inner {
  transform-style: preserve-3d;
  position: relative;
  transition: all 1s ease-in-out;
  width: 640px;
  height: 120px;
}

.front, .back {
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  text-align: center;
}
.back {
  transform: rotateY(180deg);
}

#placeholder-text:hover .placeholder-text-inner {
  transform: rotateY(180deg);
}

.separator {
  border-left: 1px solid gray;
}

#annotation-canvas {
  overflow: hidden;
  border-bottom:1px solid gray;
}


.docs {
  max-width: 740px;
  padding: 16px;
  margin: auto;
}
kbd {
  background-color: #dddddd;
  padding: 2px 4px;
  border-radius: 4px;
}
