#placeholder-text {
  height: 100vh;
  user-select: none;
  transition: all 0.5s ease;
}

.separator {
  border-left: 1px solid gray;
}

#annotation-canvas {
  overflow: hidden;
  border-bottom:1px solid gray;
}


.docs {
  max-width: 740px;
  padding: 16px;
  margin: auto;
}
kbd {
  background-color: #dddddd;
  padding: 2px 4px;
  border-radius: 4px;
}
